<section class="w-full h-full">
  <mat-toolbar color="warn">
    <button
      mat-stroked-button
      class="m-[5px]"
      dtBtnUploadFile
      typesPermitted=".txt"
      [changeContent]="false"
      (fileChange)="fileUpload($event)"
    >
      Cargar Archivo
    </button>
    <button mat-flat-button class="m-[5px]" (click)="sendData()">
      Verificar
    </button>
  </mat-toolbar>
  <section class="flex flex-wrap h-full">
    <section class="w-full sm:w-[70%] h-full">
      <ngs-code-editor
        theme="vs-dark"
        class="h-full"
        [options]="options"
        [codeModel]="code"
        (loaded)="onEditorInit()"
      ></ngs-code-editor>
    </section>
    <section class="w-full sm:w-[30%] h-full p-[10px]">
      {{ response() }}
    </section>
  </section>
</section>
